{% extends 'core/html/base.html' %}
{% load static %}
{% block tab %}
 <h4 class="text-danger my-4 text_font" align="center">BALIRAM PRAJAPATI</h4>
 <hr align="right" class="mb-3" color="white">
 <div class="text-center my-2 text_font">
 <img src="{% static 'core/images/baliram.jpg' %}" alt="baliram" width="150" height="150">
 </div>
 <h4 class="text-light">hello</h1>
 <p style="text-indent:100px;" class="text-light">i am a fullstack developer </p>
 <p class="text-light" style="text-align:justify;line-height:25px;">
 i have developed many website on many application.i have developed ecommerce and business management
 software
 A full stack web developer is a person who can develop both client and server software. In addition to mastering HTML and CSS, he/she also knows how to: Program a browser (like using JavaScript, jQuery, Angular, or Vue) Program a server (like using PHP, ASP, Python, or Node)<br><br>
 With more high-paying web development jobs opening every day, people with coding and web/app building skills are having no problems finding employment. If you’re a would-be developer looking to gain the know-how to build the interfaces, databases, and other features that run modern websites, web apps, and mobile apps, look no further. Web Coding & Development All-in-One For Dummies is your go-to interpreter for speaking the languages that handle those tasks.
 </p>
{% endblock tab %}